Flask[async]>=3.0.4
Flask-RESTful>=0.3.10
flask-cors>=4.0.2
# switch from nostr-sdk to pynostr (latest available 0.6.2)
pynostr>=0.6.2
requests>=2.32.0
msal>=1.22.0
flask-limiter>=2.0.0
qrcode==7.4.2
gunicorn>=20.1.0
azure-data-tables>=12.7.0
